#page {
  margin: 25px;
  padding: 25px;
}

#title{
  width: 45%;
  float: left;
}

#purgedGroups {
  width: 45%;
  float: right;
  
}
#removedGroups {
  max-height: 100px;
  padding: 8px;
}
#start {
  float: left;
  width: 100%;
}

#feeder {
  width: 45%;
  float: left;
  
}
#main {
 max-height: 300px;
}
.topple {
  max-height: 200px;
}

#entry {
  width: 45%;
  float: right;
}

table {
  margin-right: 8px;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 5px;
  text-align: left;
  width: 100%;
}

button {
  margin: 5px;
}

/* Keyword Group Input  */
span[contenteditable=true] {
    display: inline-block;
    width: 400px;
    height: autO;
    font-family: sans-serif;
    font-weight: 400;
    font-stretch: normal;
    font-size: 13.3333px;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    line-height: normal;
    appearance: textfield;
    -webkit-appearance: textfield;
    cursor: text;
    padding: 1px;
    border-width: 1px;
    -webkit-border-width: 2px;
    border-style: solid;
    -webkit-border-style: inset;
    border-color: initial;
    border-image: initial;
    background-color: white;
  }